/* 1200px - more */

@media screen and (min-width: 1200px) {

    .container {
        max-width: 1158px;
    }

    /* =========== header =========== */

    .header .container {
        max-width: 1158px;
    }

    .header-nav {
        margin-left: 76px;
    }

    .contact-list {
        flex-direction: row;
        gap: 40px;
    }

    /* =========== hero =========== */

    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
        margin: 0 auto;
    }

    .hero-title {
        margin-bottom: 48px;
    }

}